<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>4</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 1085}}</string>
		<string>{{266, 0}, {1082, 1085}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>00767A45-E1D6-4060-8C07-20B404DB303F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>02C6EDDA-8605-4371-B9FC-67AF1E514C5E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0464B066-C094-42B7-AC22-B2E6DBF37211</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1123F893-C0E1-4F9F-BD1D-E620829B4DA3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>13706981-FC90-45DF-B753-4FA377B2AC6F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1D6A3E7E-90FA-4E8A-B702-28966A957EC4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1DFB3A84-6B24-4634-A57E-A24D4C666EE0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1EF60B1F-81D4-4480-B80D-BAECD0C80A2F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1F3ED5C6-FB4F-439F-8572-2B5F75CC1EDF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2385B864-38AD-4872-AA78-57682E4DD6EE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2434A3A2-25C6-4D02-838F-AAECB17A2DA3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3ABF6AA9-48C4-4FEA-896F-A7D2EA10D721</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3C79B51C-659C-4D56-918E-D6BDDBCA3ED9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F49AB24-3A8D-4919-A252-1FFACF5001CC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>40750DA8-A838-43D5-B0B6-7E3130129754</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>40B3B76E-27C5-4FE0-BA1C-75916F603F36</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4427B2C8-A48D-4DBE-9AF6-3EC0EAFADAC0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4639C3EC-F64D-498C-A9DA-8C01941E5B60</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4C0AB08B-EFBB-43B0-9427-64F108693CF4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4CFC32AA-2BC1-4562-A2BB-72E4444FBB0B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>55A70B12-1834-4AF8-AF5C-DC1B2B471FAF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>56936220-E40C-4546-B41D-70897823FBBE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5A5E6FFE-D59B-433F-A256-F5628AFE3076</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5C5CC2E8-FDEF-4B2C-9AF1-90AB4D8B863D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5E75F3B9-B014-4391-ABDB-C304B52B19F0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>60202CBE-B72F-405E-8CAC-7496937F1523</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>62E6E98C-7074-404B-928C-975D18F7A730</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>645DF4EB-5506-440C-A36A-B6AB3FD562A8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6820292F-9D72-49B8-A559-3B7B078BFFC2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6B9D3AB3-837F-4189-83BE-33564A76B9C5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7152011B-AFBC-40BF-9990-435C497DA3A3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>72791EC5-2AE5-45F6-9ED1-F3D1A45F3EE0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>82378D46-55D0-4EA7-95E5-6F23EC85652E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8274AC10-962A-4B00-8C4D-698D99FDF6D3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>84E1E17C-CED2-45D8-8AE7-43BAF9E44F42</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8559CA81-F2C0-44FF-B7E1-32B5988DBA5A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>90E7F433-D004-4FF5-B474-0E59F5EE13C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>924EF3BC-8151-4799-8BC3-D0AB4C9A67A9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9281ED07-CC35-43CE-9C16-84C9069E672E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9CB0DEC9-0B79-428C-A7E4-AAE86ACA7CE9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9D5C4B02-56CF-40B6-A085-A2CD67F1E6F4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A22B3EB3-A1CE-4E59-A0B2-13B584D5C868</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A4804686-9896-4C60-B72D-D90ECDE0CC68</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A5AA434D-B1FD-43AA-99E3-E26320446888</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ACD39C54-604F-4088-A121-5569F75CA500</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B3771337-3FE5-4619-995F-DB760B1B32B1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B6D97C51-C71C-435F-843E-265E785247BC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B98A52F3-4B34-4222-AFD3-09C6E0677F2B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C1DC0591-5ED3-4D44-BC96-3B95CEC53A1C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C3EA0012-5420-4D83-8F9B-E9028D60D919</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C8869723-639A-48D6-92CE-FB22E34513A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C9A3A863-F031-4BF3-8F9E-023E12C1831E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CA8F3564-3499-43EF-8558-8925D763F945</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D3B248C8-8C86-49A4-B776-F540776A30E7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D4A7C822-942C-455B-9B7A-376A6EE7D645</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DADC74E4-B67A-4636-8EE8-925A97A8A4C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DB23A3CC-503E-4B19-A2D7-6D1BD5D69B05</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DD748CD6-5842-424E-8C99-60A3FF81F6D9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DDF1E631-2F9E-4240-B11D-0065210E48BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DF8F65B8-CD44-4CC9-BA65-2A2ED71FE6BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E9D8D35D-0068-4780-94A8-950B64B70ED5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EB6F6742-E77B-432E-80BC-884678318C4D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF2CF575-D0C2-4AD7-A4BC-9B14BAA54950</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F1E9B255-CD0E-40E6-A1D4-58248F2BACEB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FC849781-97A2-45A0-91B6-23490392F2F2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {768, 1075}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>4</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {270.5, 249.75}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>4</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>1552 342 1348 1113 0 0 3840 1575 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>4</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {621, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>4</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
